.service-container{
    border-radius: 5px;
    border: 1px solid rgb(209, 206, 206);
    padding: 5px;
    text-align: center;
    width: 400px;
    height: 450px;
}

.service-container button{
    border-radius: 8px;
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
    color:white;
    padding: 3px 3px;
}
.service-container button:hover{
    background-color: rgb(49, 47, 47);
    border: 1px solid rgb(49, 47, 47);
}